---
import Layout from '../layouts/Layout.astro'

import About from '@/sections/About.astro'
import Education from '@/sections/Education.astro'
import Experience from '@/sections/Experience.astro'
import Hero from '@/sections/Hero.astro'
import Projects from '@/sections/Projects.astro'
import Skills from '@/sections/Skills.astro'
import KeyboardManager from '@/sections/KeyboardManager.astro'
---

<Layout
  title='Portfolio de Jorge Arce'
  description='Desarrollador web y Gestor de Contenidos'
>
  <header>
    <Hero />
  </header>
  <main>
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
  <footer>
    <KeyboardManager />
  </footer>
</Layout>
