---
interface Props {
  dark?: boolean
}

const { dark } = Astro.props
---

{
  dark ? (
    <span class='dark'>
      <slot />
    </span>
  ) : (
    <span>
      <slot />
    </span>
  )
}

<style>
  span {
    color: var(--text-color);
    background-color: var(--bg-light);
    border-radius: var(--border-radius);
    font-size: 0.7em;
    font-weight: 500;
    padding: 0.35em 0.5em;
    line-height: 1;
  }

  .dark {
    color: var(--bg-color);
    background-color: var(--bg-dark);
  }
</style>
