---
interface Props {
  title?: string
}

const { title } = Astro.props
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    width: 100%;
    margin-bottom: 72px;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1;
    color: hsl(0, 0%, 10%);
    text-transform: capitalize;
  }
</style>
