---
interface Props {
  title?: string
}

const { title } = Astro.props
---

<section>
  {title && <h2>{title}</h2>}
  <slot />
</section>

<style>
  section {
    width: 100%;
    margin-bottom: 72px;
    background-color: hsl(208, 50%, 97%);
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: hsl(208, 70%, 30%);
    text-transform: capitalize;
  }
</style>
