<div class='wrapper'>
  <slot />
</div>

<style>
  .wrapper {
    --container-max: 70ch;
    width: min(100% - 2rem, var(--container-max, 60ch));
    min-height: 100%;
    margin-inline: auto;
    padding-block: 3rem;
  }
</style>
