<div class='wrapper'>
  <slot />
</div>

<style>
  .wrapper {
    --container-max: 80ch;
    width: min(100% - 2rem, var(--container-max, 60ch));
    margin-inline: auto;
    min-height: 100%;
    background-color: hsl(45, 40%, 85%);
  }
</style>
