<button> Imprimir C.V.</button>
<script>
  const $button = document.querySelector('button')

  if ($button) {
    $button.addEventListener('click', (e) => {
      e.preventDefault()
      window.print()
    })
  }
</script>

<style>
  button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 0.75em 1em;
    background-color: var(--bg-dark);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    z-index: 1;
  }
  @media print {
    button {
      display: none;
    }
  }
</style>
