---
import Wrapper from '@/components/Wrapper.astro'

interface Props {
  title: string
  description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='canonical'
      href={canonicalURL}
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name='description'
      content={description}
    />
    <link
      rel='sitemap'
      href='/sitemap-index.xml'
    />
  </head>
  <body>
    <Wrapper>
      <slot />
    </Wrapper>
  </body>
</html>

<style is:global>
  :root {
    --h1-color: #000000;
    --h2-color: #1a1a1a;
    --h3-color: #333333;
    --h4-color: #4d4d4d;
    --text-color: #666666;

    --bg-color: #ffffff;
    --bg-dark: #404040;
    --bg-light: #f2f2f2;

    --accent-color: hsl(120, 50%, 30%);

    --font-mono: 'JetBrains Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono',
      monospace;
    --font-title: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;

    --border-radius: 0.4em;
  }

  #root,
  #__next {
    isolation: isolate;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: var(--font-mono);
    font-size: 16px;
    letter-spacing: -0.025em;
    color: var(--text-color);
    background-color: var(--bg-color);
  }

  figure,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  img,
  svg {
    display: block;
    max-width: 100%;
  }
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  p,
  h1,
  h2,
  h3,
  h4 {
    overflow-wrap: break-word;
  }

  [title] {
    cursor: help;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-top: 0;
    text-wrap: balance;
    font-family: var(--font-title);
  }

  h1 {
    font-size: 2.5rem;
    color: var(--h1-color);
  }

  h2 {
    margin-bottom: 0.75rem;
    font-size: 1.75rem;
    color: var(--h2-color);
  }
  h3 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: var(--h3-color);
  }

  h4 {
    font-size: 1.1rem;
    color: var(--h4-color);
  }
  p {
    margin-top: 0;
    text-wrap: pretty;
  }

  a {
    text-decoration: none;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5em;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2em;
  }
</style>
